*{ box-sizing: border-box;

}

body{
    background-color: rgb(230,230,230);
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

#conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.container-flex {
    display: flex;
    height: 400px;
    margin: 0;
    flex-grow: 1;
}


#titulo {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px 20px 20px 100px;    
    border-bottom-width: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;
    color: white;
    background-image: url("../img/banner.jpg");
    background-position: center;
    font-size: 32px;
    height: 250px;
}

#menu-lateral {
    display: inline-flex;
    width: 20%;
    padding: 8px;    
    flex-direction: column;
    background: linear-gradient(to right, rgb(8 110 174), rgb(58 161 236));
}

#container-informacao {
    display: inline-flex;
    flex-direction: column;  
    padding-left: 30px;    
    padding-right: 30px;    
    width: 80%;
} 

.sobre-exper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    color: rgb(8 110 174);
}

.container-img {
    width: 180px;
    margin: 30px;
    height: 220px;
}

#info-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-lateral span {
    margin-top: 15px;
    color: white;
}

.container-img img {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px #444444;
    border-radius: 6px;
}

footer{
    margin-top: auto;
    color: white;
    text-align: center;
    height: 50px;
    background-color: grey;
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;
}

