body{
    background-color: rgb(230,230,230);
}

.container-flex {
    background-color: red;
    display: flex;
    width: 100%;
    height: 400px;
}


#titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    color: rgb(109, 32, 4);
}

#menu-lateral {
    display: inline-flex;
    background-color: blue;
    width: 20%;
    /* flex-direction: column; */
    padding: 4px;
    flex-direction: column;
}

#container-informacao {
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(100, 207, 100);
    width: 90%;
} 

.sobre-exper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    color: rgb(109, 32, 4);
}

.container-img {
    width: 80px;
    margin: 30px;
    height: 100px;
}

#info-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-img img {
    width: 100%;
    height: 100%;
}

